Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
djongo==1.2.31
dnspython==2.7.0
google-generativeai==0.8.5
PyJWT==2.10.1
pymongo==4.13.2
pyparsing==3.2.3
python-dotenv==1.1.1
requests==2.32.4